{{define "tmplresultset"}}
<div style="background: white;" class="container" id="suggested_queries">
    <div class="row" class="cell-12">
        
        <div id="result_set" style="padding:1em;"><div id="weasel_return">{{.Title}}</div></div>
        <div class="container">
            <div class="row">
                <div class="cell-md-4 cell-sm-full" style="padding:0.5em;">
                    <h3>What should I ask?</h3>
                    <ul>
                    <li>why should I care about open source</li>
                    <li>why does digital matter to my department</li>
                    <li>what skills do I need for digital</li>
                    <hr style="color:#ddd;background:#ddd;"/>
                    <li>access my account for individuals</li>
                    <li>access my service canada</li>
                    <li>access canada.ca</li>
                    <li>access CRA</li>
                    <hr style="color:#ddd;background:#ddd;"/>
                    <li>I want to learn french</li>
                    <li>I want to become a citizen</li>
                    <li>I want to move to canada</li>
                    <hr style="color:#ddd;background:#ddd;"/>
                    <li>Renew my passport</li>
                    <li>I want to renew my passport</li>
                    <li>trouvez une form du passport</li>
                    <hr style="color:#ddd;background:#ddd;"/>
                    <li>watch my government in action on climate change</li>
                    <li>most popular pages</li>
                    <li>most popular downloads</li>
                    <li>most popular news</li>
                    <li>contact minister of finance</li>
                    </ul>
                </div>
                <div class="cell-md-4 cell-sm-full" style="padding:0.5em;">
                    <h3>Deeper searches?</h3>
                    <ul>
                    <li>visualize state of AI</li>
                    <li>busrides episode 5</li>
                    <li>contact justin trudeau</li>
                    <hr style="color:#ddd;background:#ddd;"/>
                    <li>search canada.ca all canada day celebrations</li>
                    <li>search lucky canada.ca all services</li>
                    <li>search lucky canada.ca who is the prime minister</li>
                    <hr style="color:#ddd;background:#ddd;"/>
                    <li>search GEDS treasury board</li>
                    <li>search GEDS justin trudeau</li>
                    <li>search GEDS minister of finance</li>
                    <hr style="color:#ddd;background:#ddd;"/>
                    <li>search lucky CPAC national defence</li>
                    <li>search CPAC climate change</li>
                    <hr style="color:#ddd;background:#ddd;"/>
                    <li>search lucky CRA the audit process for charities</li>
                    <li>search lucky Canada Revenue Agency T4</li>
                    </ul>
                </div>                
                <div class="cell-md-4 cell-sm-full"  style="padding:0.5em;">
                    <h3>Why should I care?</h3>
                    <p>
                        This is a new way to engage with the Government of Canada and the Public Service. It's not meant to replace anything. It's meant to support everything. It doesn't want to own anything, it wants to ask others what they think and do its best to tell the human the reply. It's like a search engine. It's like an alexa or siri. It's like that colleague of yours you can always rely on to have that link to that file you need. It's a way to watch the house of commons. It's a way to get your T4 form. It's a way to find the path make Canada your home. 
                    </p>
                    <h3 style="padding-top: 1em;">How does this work?</h3>
                    <p>
                        It all starts with a question with intent. You can speak/type this into the weasel. It takes your words and through an AI framework figures out what you meant. Then it takes that intent and the bits it found and searches against it's know how. If it knows what to do it just does it. You want your T4? Here's the download page from CRA. You want to see your government in action on climate change. Here's CPAC for the recent session.
                    </p>
                    <p>
                        <strong>What Weasel recognizes and what it knows will only grow with time.</strong> 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}
